<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title th:text>${title}</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    </head>
    <body>
        <header th:insert="blocks/header :: header"></header>
        <main>
          <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
           <h3 th:text="${article.title}"></h3>
           <p th:text="${article.anons}"></p>
           <p th:text="${article.full_text}"></p>
           <p>Views <span th:text="${article.views}"></span></p>
          </div>
        </main>
        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>
