<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Add article</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    </head>
    <body>
        <header th:insert="blocks/header :: header"></header>
        <main>
          <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <h1>Student</h1>
            <h3 th:text="${student.id}"></h3>
            <h3 th:text="${student.name}"></h3>
            <h3 th:text="${student.gender}"></h3>
            <h3 th:text="${student.grade}"></h3>
            <a href="/student/update">Update</a>
        </main>
        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>
